.center{
    border: solid green 1px;
    
}
img{
    float: left;
    margin: 15px;
}
.container{
    margin-top: 50px;
    margin-bottom: 50px;
}
.li{
    font-size: 30px;
}
.menu{
    list-style-type: none;
    float: right;
    font-size: 30px;
}

li a.arrow1, li a.arrow2{
    position: relative;
   }

li a.arrow1::after{
    content:"";
    display: block;
    width: 30px;
    height: 30px;
    border-top:4px solid #333;
    border-right:4px solid #333;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    position: absolute;
    right: 8px;
    top:50%;
    margin-top:80px;
   }
   

li a.arrow2::after{
    content:"";
    display: block;
    width: 30px;
    height:30px;
    border-top:4px solid #333;
    border-right:4px solid #333;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    right: 8px;
    top:50%;
    margin-top:80px;
   }   
