.menu_list{
    list-style:none;
    float: right;
    text-decoration:none;                     
    color: black;                                                        
    font-size: 12px; 
    margin: 0px;                  
}
.menu_list:hover, .menu_list:focus {
    color: yellowgreen;
  }