#result{
    background-color: transparent;
}
.flexbox{
    margin-left: 300px;
    margin-right: 300px;
    align-content: center;
}
.box{
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: white;
    border: solid green 2px;
    border-radius: 20px;
    margin: 20px;
}

/*.flexbox-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;
    align-content: center;
    margin-left: 180px;
    margin-right: 180px;
}
.box{
    border: solid green 2px;
    border-radius: 20px;
    border-radius: 20px;
    margin: 15px;
    width: 200px;
    height: 200px;
}*/
